* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
html {
  font-size: 18px;
}

header {
  box-shadow: 0px 8px hsl(0deg, 0%, 40%);
  margin-bottom: 8px;
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.intro-chunk .title {
  font-size: 2rem;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.intro-chunk {
  padding: 96px 16px 32px 16px;
  max-width: 500px;
}

.title {
  margin-bottom: 32px;
}

p > strong {
  color: hsl(160deg, 100%, 30%);
}


main {
  background-color: hsl(0deg, 0%, 60%);
  padding: 64px 0px;
}

.card {
  display: block;
  background-color: white;
  box-shadow: 0px 8px hsl(0deg, 0%, 40%);
  padding: 8px 16px 8px 16px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  box-shadow: 0px 8px hsl(45deg, 100%, 40%);
  margin: 0px 0px 24px -24px;
  padding: 16px 16px 16px 24px;
  max-width: fit-content;
}

@media (max-width: 961px) {
  .max-width-wrapper {
    max-width: 100%;
  }

  .indented-heading {
    margin: 0px 0px 24px -16px;
  }
}